new job

<%= form_for :job, url: jobs_path do |job| %>
  <% if @job.errors.any? %>
    <div id="error_explanition">
      <h2>
        <%= pluralize(@job.errors.count, "error") %>
        prevented this job from being saved:
      </h2>
      <ul>
        <% @job.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%=job.text_field :jobName, :placeholder =>
    "Job name"%>
  </p>

  <p>
    <%=job.text_area :description, :placeholder =>
    "description"%>
  </p>

  <p>
    <%= job.label "starting port" %>
    <%= job.select :origin, [["Long Beach"],["Seattle"],["Honolulu"]] %>
  </p>

  <p>
    <%= job.label "ending port" %>
    <%= job.select :destination, [["Long Beach"],["Seattle"],["Honolulu"]] %>
  </p>

  <p>
    <%= job.number_field :containerCount, :placeholder => "total containers" %>
  </p>

  <p>
    <%= job.number_field :cost, :placeholder => "job cost", step: :any %>
  </p>

  <p>
    <%=job.label "add boats" %>
  </p>

  <p>
    <%=job.collection_check_boxes :boat_ids, Boat.all, :id, :name %>
  </p>

  <p>
    <%= job.submit "Create Job" %>
  </p>
<% end %>
