<h2>Current Job</h2>

<p>
  <strong>Job name: </strong><%= @job.jobName%>
</p>

<p>
  <strong>Description: </strong><%= @job.description%>
</p>

<p>
  <strong>Starting port: </strong> <%= @job.origin%>
</p>

<p>
  <strong>Ending port: </strong><%= @job.destination%>
</p>

<p>
  <strong>Container count: </strong><%= @job.containerCount%>
</p>

<p>
  <strong>Cost: </strong>$<%= @job.cost%>
</p>

<p>
  <% @boats.each do |boats| %>
  <%= boats.name %>
  <%end%>
</p>

<p>
<%= link_to 'Edit Job', edit_job_path, :class => 'navbar-link' %> |
<%= link_to "Delete Job", job_path, method: :delete %>
</p>
